.products-container{
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}
.products-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 20px;
}
.products-item__name{
text-transform: uppercase;
font-weight: 600;
}
.products-item__img{
width: 100%;
height: 270px;
object-fit: contain;
margin-top: 16px;
}
.products-item__price{
    font-weight: 600;
    margin-top: 16px;

}
.products-item__btn{
margin-top: 8px;
border: none;
background-color: rgb(88, 101, 254);
color: #fff;
padding: 8px 20px;
cursor: pointer;
font-family: inherit;
transition: background-color 0.3s;
}
.products-item__btn:hover{
    background-color: rgb(134, 144, 255);
}
.products-item__btn-active{
    background-color: rgb(255, 154, 126);
}